@import "colors";

$navbar-light-color:                $primary;
$navbar-light-hover-color:          $pink;
$navbar-light-active-color:         $primary-400;
$navbar-light-disabled-color:       $gray-500;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: $pink;
